@import "@/styles/var.scss";
.vx-logo {
  // width: 200px;
  height: 50px;
  background-color: var(--logo-bg-color);
  &:hover {
    background-color: var(--logo-bg-active-color);
  }

  @include transition(all);
  @include cursor(default);
  @include flex(start, center, nowrap);
  &__image {
    width: 52px;
    height: 50px;

    @include flex(center, center, nowrap);
    & img {
      width: 32px;
      height: 32px;
    }
  }
  &__title {
    padding-left: 3px;

    @include transition(all);
    & span {
      font-size: var(--text-middle-size);
      font-weight: bold;
      color: var(--logo-text-color);

      @include transition(color);
      &:hover {
        color: var(--logo-active-color);
      }
    }
  }
}
