@import "@/styles/var.scss";
.vx-avatar {
  height: inherit;
  .vx-dropdown {
    height: var(--header-global-height);
    padding: 0 15px 0 5px;
    &__username {
      margin-right: 10px;
      font-size: 13px;
      color: var(--theme-text-color);
    }

    @include flex(center, center, nowrap);
  }
}
.vx-dropdown-item__text {
  margin-left: 5px;
}
