// @import "@/styles/var.scss";
.vxTableSettingStyle {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 30px;
    :global {
        // 样式穿透
            width: 100%;
            .vx-icon {
                margin-right: 5px;
                cursor: pointer;
                outline: 0 !important;

                // @include cursor; 不使用导入，此方法会导致页面加载变慢
            }
        }
}