@mixin flex($justify: space-between, $align: center, $wrap: nowrap) {
  display: flex;
  flex-wrap: $wrap;
  align-items: $align;
  justify-content: $justify !important;
}

@mixin border($color) {
  border: 1px solid $color;
}

@mixin cursor($pointer: pointer) {
  cursor: $pointer;
}

@mixin transition($attr: color) {
  transition: $attr 0.3s;
}
