@use "vxe-table/lib/style.css";

// 全局变量文件
:root {
  // 主题
  --theme-color: #3a6ee8;
  --theme-text-color: #252525;
  --theme-bg-color: #f5f7f9;
  --theme-div-color: #ffffff;
  --theme-bg-black-1: #000000;

  // 左侧菜单
  --left-menu-max-width: 200px;
  --left-menu-min-width: 64px;
  --left-menu-bg-color: #001529;
  --left-menu-bg-light-color: #0f2438;
  --left-menu-bg-active-color: var(--el-color-primary);
  --left-menu-text-color: #bfcbd9;
  --left-menu-text-active-color: #ffffff;
  --left-menu-collapse-bg-active-color: var(--el-color-primary);

  // 左侧logo
  --logo-bg-color: var(--left-menu-bg-color);
  --logo-bg-active-color: var(--left-menu-bg-light-color);
  --logo-text-color: var(--left-menu-text-active-color);
  --logo-active-color: var(--left-menu-text-color);

  // 图标
  // --icon-hovered-color: #252525;
  // 字体大小
  --text-normal-size: 16px;
  --text-small-size: 12px;
  --text-useful-size: 14px;
  --text-middle-size: 20px;
  --text-large-size: 24px;
  --text-super-large-size: 32px;

  // 分割线
  --divider-color: #dbdcdd;

  // header 的高度
  --header-global-height: 50px;

  // tags-view 的高度
  --tags-view-global-height: 32px;

  // pagination 的高度
  --pagination-global-height: 50px;
}

// vxe-table所需的主题颜色配置(真正应该自定义一份)
html.dark {
  --vxe-font-color: #98989e;
  --vxe-primary-color: var(--theme-color);
  --vxe-icon-background-color: #98989e;
  --vxe-table-font-color: #98989e;
  --vxe-table-resizable-color: #95969a;
  --vxe-table-header-background-color: #28282a;
  --vxe-table-body-background-color: #151518;
  --vxe-table-background-color: #4a5663;
  --vxe-table-row-hover-background-color: #000000;
  --vxe-table-row-hover-striped-background-color: #000000;
  --vxe-table-border-radius: 4px;
  --vxe-table-border-width: 1px;
  --vxe-table-border-color: #2c3e50;
  --vxe-table-resizable-line-color: #34495e;
  --vxe-table-resizable-drag-line-color: #1abc9c;
  --vxe-table-footer-background-color: #34495e;
  --vxe-table-tree-node-line-color: #909399;
  --vxe-table-tree-node-line-style: dotted;
  --vxe-table-header-font-weight: 700;
  --vxe-table-row-height-default: 48px;
  --vxe-table-row-height-medium: 44px;
  --vxe-table-row-height-small: 40px;
  --vxe-table-row-height-mini: 36px;
  --vxe-table-row-line-height: 22px;
  --vxe-table-row-striped-background-color: #2c3e50;
  --vxe-table-row-radio-checked-background-color: #34495e;
  --vxe-table-hover-cell-background-color: #34495e;
  --vxe-table-column-padding-default: 13px 0;
  --vxe-table-column-padding-medium: 11px 0;
  --vxe-table-column-padding-small: 9px 0;
  --vxe-table-column-padding-mini: 7px 0;
  --vxe-table-column-hover-background-color: #2c3e50;
  --vxe-table-column-current-background-color: #34495e;
  --vxe-table-cell-placeholder-color: #c0c4cc;
  --vxe-table-cell-padding-left: 10px;
  --vxe-table-cell-padding-right: 10px;
  --vxe-table-row-hover-radio-checked-background-color: #34495e;
  --vxe-table-row-checkbox-checked-background-color: #34495e;
  --vxe-table-row-hover-checkbox-checked-background-color: #34495e;
  --vxe-table-row-current-background-color: #34495e;
  --vxe-table-row-hover-current-background-color: #34495e;
  --vxe-table-column-icon-border-color: #c0c4cc;
  --vxe-table-column-icon-border-hover-color: #515a6e;
  --vxe-table-cell-input-height-default: 42px;
  --vxe-table-cell-input-height-medium: 38px;
  --vxe-table-cell-input-height-small: 34px;
  --vxe-table-cell-input-height-mini: 30px;
  --vxe-table-cell-dirty-width: 5px;
  --vxe-table-cell-dirty-update-color: #f56c6c;
  --vxe-table-cell-dirty-insert-color: #19a15f;
  --vxe-table-cell-area-border-color: #409eff;
  --vxe-table-cell-area-border-width: 1px;
  --vxe-table-cell-main-area-extension-border-color: #ffffff;
  --vxe-table-cell-main-area-extension-background-color: #409eff;
  --vxe-table-cell-extend-area-border-width: 2px;
  --vxe-table-cell-copy-area-border-width: 3px;
  --vxe-table-cell-active-area-border-width: 2px;
  --vxe-table-cell-copy-area-border-color: #409eff;
  --vxe-table-cell-extend-area-border-color: #409eff;
  --vxe-table-cell-active-area-border-color: #409eff;
  --vxe-table-cell-area-background-color: rgb(64 158 255 / 0.2);
  --vxe-table-checkbox-range-border-width: 1px;
  --vxe-table-checkbox-range-border-color: #006af1;
  --vxe-table-checkbox-range-background-color: rgb(50 128 252 / 0.2);
  --vxe-table-fixed-left-scrolling-box-shadow: 8px 0px 10px -5px rgb(0 0 0 / 0.12);
  --vxe-table-fixed-right-scrolling-box-shadow: -8px 0px 10px -5px rgb(0 0 0 / 0.12);
  --vxe-table-filter-panel-background-color: #2c3e50;
  --vxe-table-menu-item-width: 178px;
  --vxe-table-menu-background-color: #2c3e50;
  --vxe-loading-color: #1abc9c;
  --vxe-loading-background-color: hsl(0deg 0% 100% / 0.5);
  --vxe-loading-z-index: 999;
  --vxe-table-validate-error-color: #f56c6c;
  --vxe-table-validate-error-background-color: #2c3e50;
  --vxe-grid-maximize-background-color: #34495e;
  --vxe-toolbar-background-color: var(--theme-bg-color);
  --vxe-toolbar-custom-active-background-color: #34495e;
  --vxe-toolbar-panel-background-color: #2c3e50;
  --vxe-tooltip-dark-color: #ffffff;
  --vxe-tooltip-dark-background-color: #34495e;
  --vxe-tooltip-light-background-color: #2c3e50;
  --vxe-pager-background-color: var(--theme-bg-color);
  --vxe-pager-perfect-background-color: #2c3e50;
  --vxe-pager-perfect-button-background-color: #34495e;
  --vxe-modal-header-background-color: #2c3e50;
  --vxe-modal-body-background-color: #34495e;
  --vxe-modal-border-color: #212121;
  --vxe-checkbox-font-size-default: 15px;
  --vxe-checkbox-font-size-medium: 14px;
  --vxe-checkbox-font-size-small: 13px;
  --vxe-checkbox-font-size-mini: 12px;
  --vxe-checkbox-checked-width: 0.32em;
  --vxe-checkbox-checked-height: 0.64em;
  --vxe-checkbox-indeterminate-width: 0.6em;
  --vxe-checkbox-indeterminate-height: 2px;
  --vxe-checkbox-border-width: 2px;
  --vxe-checkbox-border-radius: 2px;
  --vxe-checkbox-icon-background-color: #2c3e50;
  --vxe-checkbox-checked-icon-border-color: #2c3e50;
  --vxe-checkbox-indeterminate-icon-background-color: #2c3e50;
  --vxe-radio-font-size-default: 15px;
  --vxe-radio-font-size-medium: 14px;
  --vxe-radio-font-size-small: 13px;
  --vxe-radio-font-size-mini: 12px;
  --vxe-radio-border-width: 2px;
  --vxe-radio-icon-background-color: #2c3e50;
  --vxe-radio-checked-icon-background-color: #2c3e50;
  --vxe-radio-indeterminate-icon-background-color: #2c3e50;
  --vxe-radio-button-default-background-color: #2c3e50;
  --vxe-button-max-width: 500px;
  --vxe-button-default-background-color: #2c3e50;
  --vxe-button-dropdown-panel-background-color: #2c3e50;
  --vxe-button-height-default: 34px;
  --vxe-button-height-medium: 32px;
  --vxe-button-height-small: 30px;
  --vxe-button-height-mini: 28px;
  --vxe-button-round-border-radius-default: 17px;
  --vxe-button-round-border-radius-medium: 16px;
  --vxe-button-round-border-radius-small: 15px;
  --vxe-button-round-border-radius-mini: 14px;
  --vxe-input-background-color: var(--theme-bg-color);
  --vxe-input-panel-background-color: #2c3e50;
  --vxe-input-number-disabled-color: #e4e7ed;
  --vxe-input-date-festival-color: #999999;
  --vxe-input-date-festival-important-color: #1abc9c;
  --vxe-input-date-notice-background-color: red;
  --vxe-input-date-picker-hover-background-color: #34495e;
  --vxe-input-date-picker-selected-color: #ffffff;
  --vxe-input-date-time-confirm-button-color: #ffffff;
  --vxe-input-date-picker-festival-selected-color: #ffffff;
  --vxe-input-date-picker-notice-selected-background-color: #ffffff;
  --vxe-input-date-extra-color: #67c23a;
  --vxe-input-date-extra-important-color: #fd2222;
  --vxe-input-date-title-height-default: 30px;
  --vxe-input-date-title-height-medium: 29px;
  --vxe-input-date-title-height-small: 28px;
  --vxe-input-date-title-height-mini: 26px;
  --vxe-input-date-time-week-row-height-default: 38px;
  --vxe-input-date-time-week-row-height-medium: 36px;
  --vxe-input-date-time-week-row-height-small: 34px;
  --vxe-input-date-time-week-row-height-mini: 32px;
  --vxe-input-date-month-year-row-height-default: 48px;
  --vxe-input-date-month-year-row-height-medium: 46px;
  --vxe-input-date-month-year-row-height-small: 44px;
  --vxe-input-date-month-year-row-height-mini: 42px;
  --vxe-input-date-quarter-row-height-default: 60px;
  --vxe-input-date-quarter-row-height-medium: 58px;
  --vxe-input-date-quarter-row-height-small: 56px;
  --vxe-input-date-quarter-row-height-mini: 54px;
  --vxe-input-height-default: 34px;
  --vxe-input-height-medium: 32px;
  --vxe-input-height-small: 30px;
  --vxe-input-height-mini: 28px;
  --vxe-input-count-color: #999999;
  --vxe-input-count-background-color: #2c3e50;
  --vxe-input-count-error-color: #f56c6c;
  --vxe-textarea-line-height: 1.5715;
  --vxe-textarea-background-color: #2c3e50;
  --vxe-form-item-min-height-default: 36px;
  --vxe-form-item-min-height-medium: 34px;
  --vxe-form-item-min-height-small: 32px;
  --vxe-form-item-min-height-mini: 30px;
  --vxe-form-background-color: var(--theme-bg-color);
  --vxe-form-validate-error-color: #f56c6c;
  --vxe-form-validate-error-background-color: inherit;
  --vxe-select-option-height-default: 30px;
  --vxe-select-option-height-medium: 28px;
  --vxe-select-option-height-small: 26px;
  --vxe-select-option-height-mini: 24px;
  --vxe-select-option-hover-background-color: #2c3e50;
  --vxe-select-panel-background-color: #34495e;
  --vxe-select-empty-color: #c0c4cc;
  --vxe-optgroup-title-color: #909399;
  --vxe-switch-font-color: #ffffff;
  --vxe-switch-icon-background-color: #2c3e50;
  --vxe-switch-open-background-color: #1abc9c;
  --vxe-switch-close-background-color: rgb(0 0 0 / 0.35);
  --vxe-switch-disabled-background-color: rgb(0 0 0 / 0.15);
  --vxe-pulldown-panel-background-color: #34495e;
}
