// 全局变量文件
:root {
  // 主题
  --theme-color: #3a6ee8;
  --theme-text-color: #252525;
  --theme-bg-color: #f5f7f9;
  --theme-div-color: #ffffff;
  --theme-bg-black-1: #000000;

  // 图标
  // --icon-hovered-color: #252525;
  // 字体大小
  --text-normal-size: 16px;
  --text-small-size: 12px;
  --text-useful-size: 14px;
  --text-middle-size: 20px;
  --text-large-size: 24px;
  --text-super-large-size: 32px;
}

@mixin flex($justify: space-between, $align: center, $wrap: nowrap) {
  display: flex;
  flex-wrap: $wrap;
  align-items: $align;
  justify-content: $justify;
}

@mixin border($color) {
  border: 1px solid $color;
}

@mixin cursor($pointer: pointer) {
  cursor: $pointer;
}
