@import "@/styles/mixin.scss";
.analysis {
  width: 100%;

  @include flex(space-between, flex-start, nowrap);
  .analysis-left {
    width: 70%;
    .card-area {
      @include flex(space-between, center, nowrap);
    }
    .small-charts-area {
      &-lf {
        width: 65.5%;
        height: 540px;
        &__header {
          height: 40px;
          font-weight: bold;

          @include flex(space-between, flex-start, nowrap);
        }
        &__charts {
          width: 100%;
          height: 450px;
        }
      }
      &-rt {
        width: 33%;
        height: 540px;
        &__header {
          height: 40px;
          font-weight: bold;

          @include flex(space-between, flex-start, nowrap);
        }
      }

      @include flex(space-between, center, nowrap);
    }
    .large-charts-area {
      width: 100%;
      height: 540px;
      margin-top: 20px;
      &__header {
        height: 40px;
        font-weight: bold;

        @include flex(space-between, flex-start, nowrap);
      }
      &__charts {
        width: 100%;
        height: 450px;
      }
    }
  }
  .analysis-right {
    width: 29%;
  }
  &-el-card {
    width: 24%;
    margin-bottom: 20px;
  }
  &-card {
    @include flex(flex-start, center, nowrap);
    &-lf {
      @include flex(center, center, nowrap);
    }
    &-rt {
      flex-direction: column;
      margin-left: 20px;
      & > .t1 {
        font-size: 30px;
        font-weight: bold;
      }
      & > .t2 {
        font-size: 13px;
        font-weight: bold;
        color: #afa8bb;
      }

      @include flex(flex-start, flex-start, nowrap);
    }
  }
  &-server-status {
    &__header {
      & > .t1 {
        font-size: 16px;
        font-weight: bold;
      }

      @include flex(space-between, center, nowrap);
    }
    &__container {
      & > .analysis-server-status__progress {
        width: 100%;
        margin: 10px 0 15px;
      }
    }
    &__footer {
      @include flex(space-between, center, nowrap);
    }
  }
  &-market-previews {
    margin-top: 20px;
    &__header {
      & > .t1 {
        font-size: 16px;
        font-weight: bold;
      }

      @include flex(space-between, center, nowrap);
    }
    &__container {
      padding: 8px 0;

      @include flex(space-between, center, nowrap);
      .container-lf {
        .lf-icon {
          width: 30px;
          height: 30px;
          margin-right: 10px;
          background-color: #3cc2e0;
        }
        .lf-text {
          .t1 {
            font-size: 12px;
          }
          .t2 {
            font-size: 10px;
          }
        }

        width: 80%;

        @include flex(flex-start, center, nowrap);
      }
      .container-rt {
        flex-direction: column;
        width: 20%;
        .t1 {
          font-size: 12px;
          font-weight: bold;
        }
        .t2 {
          font-size: 10px;
        }

        @include flex(flex-end, flex-end, nowrap);
      }
    }
    &-out-box {
      height: 304px;
    }
  }
  &-project {
    margin-top: 20px;
    &__header {
      height: 35px;
      & > .t1 {
        font-size: 16px;
        font-weight: bold;
      }

      @include flex(space-between, center, nowrap);
    }
    &__container {
      flex-direction: column;
      height: 455px;

      @include flex(flex-start, flex-start, nowrap);
      .project-list {
        width: 100%;
        height: 300px;
        &-for {
          padding: 5px 0;
        }
        .progress-tips {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .t1 {
            font-size: 12px;
            font-weight: bold;
          }
          .t2 {
            font-size: 10px;
          }
        }
        .project-tag {
          & > .title {
            width: 100%;
          }
          & > .tags {
            width: 100%;
          }
        }
      }

      @include flex(flex-start, flex-start, nowrap);
    }
  }
}

@media (width <= 1400px) {
  .analysis {
    flex-direction: column;
    .analysis-left {
      width: 100%;
    }
    .analysis-right {
      width: 100%;
    }
  }
}

@media (width <= 550px) {
  .analysis {
    flex-direction: column;
    .analysis-left {
      width: 100%;
      .card-area {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        width: 100%;
        .analysis-el-card {
          width: 48%;
          min-width: 150px;
          overflow: hidden;
        }
      }
      .small-charts-area {
        flex-direction: column;
        .small-charts-area-lf {
          width: 100%;
        }
        .small-charts-area-rt {
          width: 100%;
          margin-top: 20px;
        }
      }
    }
    .analysis-right {
      width: 100%;
    }
  }
}

@media (width <= 350px) {
  .analysis .analysis-left .card-area .analysis-el-card {
    width: 100%;
    min-width: 150px;
    overflow: hidden;
  }
}
