@import "@/styles/var.scss";
.vx-table {
    display: flex;
    flex-direction: column;
    height: 100%;
    &:deep(.el-table) {
        flex: 1;
    }
    &__pagination {
        height: 50px;
        line-height: 50px;
        background-color: var(--theme-div-color);
    }
};