@import "@/styles/mixin.scss";
.vx-table {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--theme-div-color);
  &__fullscreen {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--theme-div-color);
  }
  &__pagination {
    height: var(--pagination-global-height);
    line-height: var(--pagination-global-height);
    background-color: var(--theme-div-color);
  }
  &__prefix {
    flex-direction: column;
    align-content: start;

    @include flex(start, start, wrap);
  }
  .fullscreen-padding {
    padding: 20px 20px 10px;
  }
}
