@import "@/styles/var.scss";
.vx-container {
  height: 100%;
  :deep(.el-header) {
    padding: 0 !important;
  }
  .vx-header {
    width: 100%;
    height: 50px;
    &__nav {
      position: relative;
      flex: 1;
      height: inherit;
      background-color: var(--theme-div-color);

      @include flex(space-between, center, nowrap);
      @include transition(background-color);
      &::after {
        position: absolute;
        bottom: 0;
        width: 100%;
        content: "";
        border-bottom: 1px solid var(--divider-color);
      }

      @include flex(start, center, nowrap);
    }
    &__menu-switch {
      @include cursor;
      @include flex(start, center, nowrap);
    }
    &__info {
      @include flex(start, center, nowrap);
    }

    @include flex(start, center, nowrap);
  }
  .vx-aside {
    overflow: hidden;
    background-color: var(--left-menu-bg-color);

    @include transition(width);
    &__menu {
      width: inherit;
      height: 100%;
      background-color: var(--left-menu-bg-color);
    }
  }
}
