@import "@/styles/var.scss";
.vx-login {
    background-color: #ffffff;
    &__left {
        width: 50%;
        & > img {
            margin-top: 200px;
        }

        @include flex(end,center,nowrap)
    }
    &__right {
        width: 50%;
        &__login-box {
            width: 40%;
        }
    }

    @include flex(start,center,nowrap)
}