@import "@/styles/mixin.scss";
.vx-locale-switch {
  height: var(--header-global-height);
  padding: 0 5px;
  background-color: var(--theme-div-color);
  :deep(.el-dropdown-link > svg) {
    outline: none !important;
  }

  @include transition(background-color);
  @include flex(center, center, nowrap);
}
.dropdown-menu {
  padding: 8px 0;
  .dropdown-item {
    width: 100%;
    padding: 4px 16px 4px 6px;
    & span {
      margin-left: 5px;
    }

    @include flex(start, center, nowrap);
    @include cursor;
  }
  .dropdown-item--active {
    /* stylelint-disable */
    background-color: var(--el-dropdown-menuItem-hover-fill);
    color: var(--theme-color);
    /* stylelint-enable */
  }
  .vx-icon--visible {
    opacity: 0;
  }
}
